SUBSYSTEM=="tty",ATTRS{serial}=="IC-705 13002492",SYMLINK+="ttyUSB-ic705-%E{ID_USB_INTERFACE_NUM}"
SUBSYSTEM=="tty",ATTRS{idVendor}=="2166",ATTRS{idProduct}=="600b", SYMLINK+="ttyUSB-d74"