
[Desktop Entry]
Name=Rigup Logs
Icon=/usr/share/pixmaps/openbox.xpm
Exec=bash -c 'sudo journalctl -u rigup -f'
Type=Application
Encoding=UTF-8
Terminal=true
Categories=HAM;
