[Unit]
Description=doppler_shifter
After=syslog.target network.target
[Service]
Type=simple
ExecStart=/bin/bash -c /home/pi/doppler_shifter/wrapper.sh
ExecReload=/bin/kill -HUP $MAINPID
RestartSec=60
Restart=always
User=pi
[Install]
WantedBy=multi-user.target
