[Unit]
Description=rigctld FT-818ND
After=syslog.target network.target
[Service]
Type=simple
ExecStart=/usr/local/bin/rigctld -t 4533 -m 1041 -r /dev/serial/by-id/usb-Prolific_Technology_Inc._USB-Serial_Controller-if00-port0 -vvv
ExecReload=/bin/kill -HUP $MAINPID
RestartSec=60
Restart=always
User=root
Group=root
[Install]
WantedBy=multi-user.target
